.backTop-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: #ffd7d7;
  color: $ter-col;
  border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .backTop-btn {
    bottom: 5px;
    right: 5px;
    font-size: 26px;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .backTop-btn {
    bottom: 10px;
    right: 20px;
  }
}
